// =FONT FAMILY VARIABLES
// $web-font-regular: 'Graphik Regular';
// $web-font-medium: 'Graphik Medium';
// $web-font-heavy: 'Graphik Bold';


$web-font-regular: 'Titillium Web', sans-serif;;
$web-font-medium: 'Titillium Web', sans-serif;;
$web-font-heavy: 'Titillium Web', sans-serif;;


